* {
    font-family: Arial, Helvetica, sans-serif
}
.title1 {
    background-color: aqua
}
.title2 {
    background-color: yellowgreen
}
.title3 {
    background-color: pink
}
.title4 {
    background-color: violet
}
.title5 {
    background-color: blueviolet
}
.title6 {
    background-color: salmon
}
.title7 {
    background-color: chartreuse
}
.title8 {
    background-color: lightslategray
}
.title9 {
    background-color: peachpuff
}
.title10 {
    background-color: goldenrod
}