
* {
    font-family: 'Open Sans Condensed', sans-serif;
}
.banner {
    width: 350px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 50px;
    border-bottom: 3px solid;
    margin-bottom: 10px; 
}
.home {
    text-decoration: none;
    color: black
}
.seven {
    text-decoration: none;
    color: black
}
.track {
    text-decoration: none;
    color: black
}