html {
    background-color: rgb(146, 213, 206);
}
.headline {
    display: flex;
    background-color: linen;
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    height: 70px;
    justify-content: center;
}
.clicks { 
    display: flex;
    height: 35px;
    border: 5px solid linen;
    justify-content: space-around;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
.nap{
    font-family: 'Courier New', Courier, monospace;
    font-size: 65px;
    text-align: center;
    font-style: bold;
}
.pics {
    display: flex;
    justify-content: space-around;
    background-color: linen;
    height: 400px;
}
.words {
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    text-align: center
}
#lady {
    width: 400px;
    height: 300px;
    margin: 50px;
}
#pillows {
    width: 400px;
    height: 300px;
    margin: 50px
}
.footer {
position: fixed;
background-color: rgb(146, 213, 206);
font-family: 'Courier New', Courier, monospace;
font-style: bold;
font-size: 20px;
width: 100%;
height: 50px;
bottom: 0;
}
#address {
    position: absolute;
    display: inline-block;
    left: 150px;
}
#email {
    display: inline-block;
    position: absolute;
    right: 250px;
    margin-top: 15px;
}
@media (min-width: 500px) {
    html {background: burlywood}
}
@media (max-width: 1800px) {
    html {background: rgb(146, 213, 206);
}